<div class="customer-stays">
  <span ng-if="!$ctrl.stays.length">You don't have any stays yet. You can book the hotel at the hotels page.</span>
  <md-content ng-if="$ctrl.stays.length" flex flex-gt-sm=50 class="details">
    <md-list flex>
      <div ng-repeat="stay in $ctrl.stays">
        <md-list-item class="md-3-line">                    
          <review stay="stay"       
            on-save-stay="$ctrl.saveStay($event)" flex>
            <div ng-show="!stay.isEditing" layout="row" layout-align="end center" layout-margin>
              <md-icon class="review_like" md-font-set="material-icons">{{$ctrl.getLikesIcon(stay)}}</md-icon>
              <label class="md-caption">{{stay.review.likes_count}}</label>
              <span flex></span>
              <md-button ng-click="$ctrl.editStay(stay)" ng-disabled="$ctrl.isEditMode">
                {{ stay.review ? "Edit review" : "Add review" }}
              </md-button>
            </div>
          </review>
        </md-list-item>
        <md-divider ng-if="!$last"></md-divider>          
      </div>  
    </md-list>
  <md-content>
</div>