<md-sidenav flex md-component-id="customer-sidenav" class="side-nav">
    <md-content>
        <user-view auth-data="$ctrl.authData"></user-view>
        <md-list>				
            <md-list-item 
                ui-sref="customer" 
                ng-click="$ctrl.closeMainMenu()">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <md-icon md-font-set="material-icons">hotel</md-icon>
                    </div>
                    <div class="inset">Hotels</div>
                </md-item-content>
            </md-list-item>
            <md-list-item 
                ui-sref="customer.stays" 
                ng-click="$ctrl.closeMainMenu()">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <md-icon md-font-set="material-icons">list</md-icon>
                    </div>
                    <div class="inset">My Bookings</div>
                </md-item-content>					
            </md-list-item>

            <md-divider></md-divider>

            <md-list-item ng-click="$ctrl.logout()">
              <md-item-content md-ink-ripple layout="row" layout-align="start center">
                  <div class="inset">
                      <md-icon md-font-set="material-icons">power_settings_new</md-icon>
                  </div>
                  <div class="inset">Sign out</div>
              </md-item-content>					
            </md-list-item>            
        </md-list>
    </md-content>        
</md-sidenav>

