<div layout="column" layout-align="center center">
  <ng-transclude></ng-transclude>
  <form class="login-list" ng-required 
  name="loginForm" 
  ng-submit="loginForm.$valid && $ctrl.submit()" 
  ng-disabled="$ctrl.isSubmitting"
  layout-padding>
    <md-input-container class="md-block" flex-gt-sm>
      <label>Please select user to sign in</label>
      <md-select ng-model="$ctrl.credentials.email" required="true" required md-no-asterisk>
        <md-option ng-repeat="user in ::$ctrl.users track by $index" ng-value="user.email">
          {{::user.email}}
        </md-option>
      </md-select>
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm>
      <label>Password</label>
      <input required ng-model="$ctrl.credentials.password" type="password" placeholder="password123" md-no-asterisk>
    </md-input-container>

    <div layout="row" layout-align="space-between center">
      <md-button class="md-raised md-primary" type="submit">Sign in</md-button>
      <a class="md-caption" href="" ng-click="$ctrl.register()">
        Click here if you want to create new account.
      </a>        
    </div>
  </form>
</div>
