  <form ng-submit="registerForm.$valid && $ctrl.submit()" ng-disabled="$ctrl.isSubmitting" name="registerForm">
    <md-input-container class="md-block" flex-gt-sm>
      <label>Name</label>
      <input required ng-model="$ctrl.credentials.name" md-no-asterisk>
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm>
      <label>Email</label>
      <input name="email" ng-model="$ctrl.credentials.email"
        required ng-pattern="/^.+@.+\..+$/" md-no-asterisk />
      <div ng-messages="registerForm.email.$error">
        <div ng-message-exp="['required', 'pattern']">
          Your email must look like an e-mail address.
        </div>
      </div>
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm>
      <label>Password</label>
      <input required ng-model="$ctrl.credentials.password" type="password" md-no-asterisk>
    </md-input-container>

    <div layout="row" layout-align="space-between center">
      <md-button ng-click="$ctrl.cancel()">Cancel</md-button> 
      <md-button class="md-raised md-primary" type="submit">Create account</md-button>      
    </div>
  </form>
