<div layout="column" flex layout-align="center center" class="auth-register">
  <md-card>
    <md-card-header>
      <md-card-header-text>
        <span class="md-title">Register new {{$ctrl.userType}}</span>
        <span class="md-subhead">Please fill out fields below to create a new user</span>
      </md-card-header-text>
    </md-card-header>
    <md-divider></md-divider>
    <md-card-content>
      <register-form on-submit="$ctrl.register($event)" 
        on-cancel="$ctrl.cancel()">
      </register-form>
    </md-card-content>
  </md-card>
</div>