<form name="searchForm" ng-submit="$ctrl.submit()">
    <div layout="row" layout-align="center center" class="filter-toolbar">
        <md-button type="submit" class="md-icon-button md-accent md-ink-ripple">
            <md-icon md-font-set="material-icons">search</md-icon>
        </md-button>        
        <md-input-container md-no-float flex id="search-input">
            <input ng-model="$ctrl.filterModel.name" placeholder="Search">      
        </md-input-container>
        <md-button ng-click="$ctrl.reset()" ng-if="$ctrl.isFilterActive" class="md-icon-button md-accent md-ink-ripple">
            <md-icon md-font-set="material-icons">clear</md-icon>
        </md-button>
        <md-button ng-click="$ctrl.openFilterPanel($event)" class="md-icon-button md-accent md-ink-ripple">
            <md-icon md-font-set="material-icons">arrow_drop_down</md-icon>
        </md-button>
    </div>
</form> 
