// md-toolbar.md-accent.search-toolbar:not(.md-menu-toolbar) {
//     background-color: rgb(250,250,250);
// }

.filter-panel {
  border-radius: 0px 0px 5px 5px; 
  background-color: rgb(250,250,250);
}

.filter-toolbar {
  border-radius: 5px; 
  background-color: rgb(250,250,250);
  margin:8px;
}

.filter-action-row {
  padding:8px;
}

.md-errors-spacer {
  display: none;
}

#search-input {
  margin:8px;
}