  <div layout="column" flex
    layout-align="center center"
    layout-gt-md="row" 
    layout-align-gt-md="center center"
    class="auth-login">

    <md-card>
      <md-card-header>
        <md-card-header-text>
          <span class="md-title">Customers</span>
          <span class="md-subhead">Sign in to observe and book hotels, create reviews</span>
        </md-card-header-text>
      </md-card-header>
      <md-divider></md-divider>
      <md-card-content>
        <login-form users="$ctrl.customers" 
          on-submit="$ctrl.login($event)"
          on-register="$ctrl.createUser('customer')">
        </login-form>
      </md-card-content>
    </md-card>

    <md-card>
      <md-card-header>
        <md-card-header-text>
          <span class="md-title">Hotels</span>
          <span class="md-subhead">Sign in to edit hotel's profile</span>
        </md-card-header-text>
      </md-card-header>
      <md-divider></md-divider>
      <md-card-content>
      <login-form users="$ctrl.hotels" 
        on-submit="$ctrl.login($event)"
        on-register="$ctrl.createUser('hotel')">
      </login-form>
      </md-card-content>
    </md-card>

  </div>