.my-review-stars .button .material-icons {
  font-size: 18px; 
}

review star-rating {
  // padding-left: 16px;
  width: 120px;
}

.edit-rating {
  padding-left: 16px;
}

.readmore_dots,.readmore_links {
  color: rgb(63,81,181);
}

.readmore_links {
  padding: 8px;
}
