@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

// Importing inline css files from node modules
@import '~angular-loading-bar/build/loading-bar';
@import '~angular-material/angular-material';


html, body {
   height: 100%;
}

#loading-bar .bar {
  position: relative!important;
  background-color: light-blue;
}

#loading-bar-container {
  z-index:99;
  height:0px;
}

.placeholder {
  color: rgba(0,0,0,0.54);
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.md-toast-error .md-toast-content{
  background: rgb(193, 30, 23) !important;
}

ui-view, [ui-view] {
  height:100%;
}

.details {
  height: 100%;
  border-right-style: solid;
  border-right-color: rgba(0,0,0,0.12);
  border-right-width: 1px;
  border-left-style: solid;
  border-left-color: rgba(0,0,0,0.12);
  border-left-width: 1px;  
}