.hotel-details, hotel-details {
  height: 100%;
}

md-tabs-wrapper {
  background-color: white!important;
}

md-bottom-sheet {
  position: fixed !important;
  height:400px;
  padding: 8px 16px 8px 16px !important;
}