

/* .selected { 
  background-color: rgb(200, 200, 200);
} */


/* md-bottom-sheet {
  position: fixed;
  left: 0;
  right: 0;
  height:400px;
  bottom: 0;
  padding: 8px 16px 8px 16px;
} */

  /**
    * Hide when Angular is not yet loaded and initialized
    */
  /* [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
  } */

/* White search toolbar */
/* md-toolbar.md-accent.search:not(.md-menu-toolbar) {
    background-color: rgb(250,250,250);
} */

/* .md-errors-spacer {
  display: none;
} */


/* img {
    width: 100%;
} */


/* Small rating stars in users list item*/
/* .users_list md-list-item rating .material-icons {
    font-size: 14px;
} */


/* .main_card {
  z-index : 2;
  position: relative;
  margin: -64px 16px 16px 16px;
}


.main_card_sm {
  z-index : 2;
  position: relative;
  margin: -48px 16px 16px 16px;

}


.sticky_tabs {
  position: sticky;
  top: -2px;
  margin-top: -2px;
  z-index: 1; 
 
}

.sticky_toolbar {
  position: sticky;
  top: 0px;
  z-index: 1; 
}

.tabpanel {
  background-color: white;
}

.card_media img {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);    
}

.card_media {
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
} */